article/migrations/
dev/
event/migrations/
home/migrations/
sitecore/migrations/
socket_server.py
socket_test.py
static/
test/

*~
*.log
*.pot
*.pyc
*/__pycache__/
siteconfig/settings/local.py
local_settings.py
db.sqlite3
/media
/static
/.idea
/wagtail-env
backups/
util_wadsadmin/
wadsadmin.py